body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    resize: vertical;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.pop-up > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label,
input{
    text-align: center;
}

#ok,#close{
    width: inherit;
}

div#Shelf {
    width: 90%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    gap: 25px;
}

div.card{
    position: relative;
    flex: 1;
    max-width: 25%;
    min-width: 250px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px;
    background-color: #d5feff;
}

.card div{
    flex: 1;
    text-align: center;
    background-color: #aac2fe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    word-wrap: break-word;
}

dialog{
    position: fixed;
    z-index: 2;
    transition: ease-in-out;
    width: 16%;
    min-width: 150px;
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #93c5fd;
}

dialog:hover{
transform: scale(1.01);
}

dialog input{
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 25px;
}

#ok,
#close{
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #4f46e5;
    padding: 0 15px ;
}

#remove{
    color: white;
    background-color: #0ea5e9;
    border: none;
    border-radius: 0 5px 0 0;
    height: 20px;
    width:25px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#remove:hover{
    background-color: #e11d48;
    
}

.card-book-title{
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

.card-book-author{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.card-book-pages{
    font-size: 16px;
}
.add-book{
    min-width: 50px;
    width: 100px;
    border: none;
    height: 40px;
    border-radius: 25px;
    background-color: #4f46e5;
    color: white;
}

.add-book:hover{
    scale: (1.01);
}

.add-book:active{
    color: white;
    transition: ease-in;
    transform: scale(0.95);
}
.my-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.my-buttons button{
    min-width: 25px;
    min-height: 25px;
}

.read-book,
.not-read-book{
    border-radius: 5px;
}


div.read-book::before{
    content: "read";
}

div.not-read-book::before{
    content: "not-read";
}

div.read-book{
    background-color: #4ade80;
}

div.not-read-book{
    background-color: #e11d48;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

